<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Lab 4</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
    <center><h3> Привет {{person.name}}</h3>
        <table>
            <tr>
                <td>
                    <h4>Ты находишься в локации -</h4>
                </td>
                <td>
                    <h4 th:text="${personLocation}"></h4>
                </td>
            </tr>
        </table>

    <div style="overflow: hidden;">
        <div style="width: 1000%;">
            <div style="float: left; width: 200px; height: 200px;">
                <form th:action="@{/attack}" method="post">
                    <label for="task"> Атаковать игрока </label>
                    <input type="hidden" id="attacking" value="Bob" name="PersonOne"><br>
                    <select  id="task" name="personTwo">
                        <option th:each="personName : ${nearPersonForAttack}"
                                th:value="${personName}"
                                th:text="${personName}">
                        </option>
                    </select>
                    <br>
                    <label for="thingsAtack"> Используя Предмет </label>
                    <br>
                    <select  id="thingsAtack" name="thingsForAttck">
                        <option th:each="thingsAtack : ${thingsForAttck}"
                                th:value="${thingsAtack?.id}"
                                th:text="${thingsAtack?.name}">
                        </option>
                    </select>
                    <br>
                    <input type="submit" value="атаковать"/>
                </form>
            </div>
            <div style="float: left; width: 200px; height: 200px;">
                <form th:action="@{/Help}" method="post">
                    <label for="help"> Вылечить игрока </label>
                    <input type="hidden" id="Helping" value="Bob" name="attacking"><br>
                    <select  id="help" name="personName">
                        <option th:each="personName : ${nearPersonForHelp}"
                                th:value="${personName}"
                                th:text="${personName}">
                        </option>
                    </select>
                    <br>
                    <label for="thingsHelp"> Используя Предмет </label>
                    <br>
                    <select  id="thingsHelp" name="thingsForHelp">
                        <option th:each="thingsHelp : ${thingsForHelp}"
                                th:value="${thingsHelp?.name}"
                                th:text="${thingsHelp?.name}">
                        </option>
                    </select>
                    <br>
                    <input type="submit" value="Лечить"/>
                </form>
            </div>
            <div style="float: left; width: 100px; height: 100px;">
                <form th:action="@{/changeLocation}" method="post">
                    <label for="location">Сменить локацию</label>
                    <input type="hidden" id="changeLocation" value="Bob" name="personName"><br>
                    <select  id="location" name="nearLocation">
                        <option th:each="Location : ${nearLocation}"
                                th:value="${Location}"
                                th:text="${Location}">
                        </option>
                    </select>
                    <input type="submit" value="Перейти "/>
                </form>
            </div>
            <div style="float: left; width: 100px; height: 100px;">
                <form th:action="@{/AttacNPC}" method="post">
                    <label for="location"> Атаковать NPC</label>
                    <input type="hidden" id="nearNpc" value="Bob" name="attacking"><br>
                    <select  id="npc" name="npc">
                        <option th:each="npc : ${nearNpc}"
                                th:value="${npc}"
                                th:text="${npc}">
                        </option>
                    </select>
                    <input type="submit" value="Атаковать"/>
                </form>
            </div>
        </div>
    </div>
    </center>
    </body>
    <style>

    </style>
</html>
