<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Lab 4</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
    <center>
    <style>
        .boxContent{

            float: left;
            width: 2.5%;

            box-shadow: 0 2px 2px rgba(0,0,0,1); /* Параметры тени */
        }
        .boxContentMainInfo{
            float: left;
            width: 2.5%;

            box-shadow: 0 2px 2px rgba(1,1,1,1); /* Параметры тени */
        }
    </style>
        <th:block th:each="thingsAtack : ${thingsForAttck}">
            <input type="checkbox" name="cers" th:value="${thingsAtack?.id}"/>
            <label th:text="${thingsAtack?.name}"></label>
        </th:block>
        <form th:action="@{/characterInteraction}" method="post">
    <div style="overflow: hidden;">
        <div style="width: 1000%;">

            <div class="boxContent" >

                    <label for="task"> Атаковать игрока </label>
                    <input type="hidden" id="attacking" value="Bob" name="PersonOne"><br>
                    <select  id="task" name="personTwoForAttck">
                        <option th:each="personName : ${nearPersonForAttack}"
                                th:value="${personName}"
                                th:text="${personName}">
                        </option>
                    </select>
                    <br>

                    <input type="submit" name="characterInteraction"  value="Атаковать"/>

            </div>
            <div class="boxContent" >
                    <label for="help"> Вылечить игрока </label>
                    <input type="hidden" id="Helping" value="Bob" name="attacking"><br>
                    <select  id="help" name="personNameForHelp">
                        <option th:each="personName : ${nearPersonForHelp}"
                                th:value="${personName}"
                                th:text="${personName}">
                        </option>
                    </select>
                    <br>
                    <input type="submit" name="characterInteraction"  value="Лечить"/>
            </div>
            <div class="boxContent" >
                    <label for="location"> Атаковать NPC</label>
                    <input type="hidden" id="nearNpc" value="Bob" name="attacking"><br>
                    <select  id="npc" name="NameNpc">
                        <option th:each="npc : ${nearNpc}"
                                th:value="${npc}"
                                th:text="${npc}">
                        </option>
                    </select>
                <br>
                    <input type="submit" name="characterInteraction" value="Атаковать NPC" />
                </form>
            </div>
            <div class="boxContentMainInfo" >
                <h3> Привет {{person.name}}</h3>
                <table>
                    <tr>
                        <td>
                            <h4>Ты находишься в локации -</h4>
                        </td>
                        <td>
                            <h4 th:text="${personLocation}"></h4>
                        </td>
                    </tr>
                </table>
                <form th:action="@{/changeLocation}" method="post">
                    <label for="location">Сменить локацию</label>
                    <input type="hidden" id="changeLocation" value="Bob" name="personName"><br>
                    <select  id="location" name="nearLocation">
                        <option th:each="Location : ${nearLocation}"
                                th:value="${Location}"
                                th:text="${Location}">
                        </option>
                    </select>
                    <input type="submit" value="Перейти "/>
                </form>
            </div>
        </div>
    </div>
    </center>
    </body>
    <style>

    </style>
</html>
