<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Lab 4</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>
            <table>
                <tr>
                    <td>Имя</td>
                    <td>
                        <input v-model="name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Сторона</td>
                    <td>
                        <select v-model="side">
                            <option v-for="side in sides" v-bind:value="side.id" >{{side.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Раса</td>
                    <td>
                        <select v-model="race">
                            <option v-for="race in races">{{race.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Класс</td>
                    <td>
                        <select v-model="personClass">
                            <option v-for="personClass in personClasses">{{personClass.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Создать персонажа"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выйти"/>
                        </form>
                    </td>
                </tr>
            </table>
            <canvas id="canvas"></canvas>
            <table id="history_table">
                <thead>
                    <tr>
                        <td>Имя</td>
                        <td>Сторона</td>
                        <td>Раса</td>
                        <td>Класс</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in persons">
                        <td>{{person.name}}</td>
                        <td>{{person.side}}</td>
                        <td>{{person.race}}</td>
                        <td>{{person.person_class}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script th:src="@{js/canvas.js}"></script>
        <script th:src="@{js/home.js}"></script>
    <table>
        <tr>
            <td>
                <form th:action="@{/main}" method="post">
                    <input type="submit" value="Войти за тестового персонажа"/>
                </form>
            </td>
        </tr>
    </table>
    </body>
</html>
