<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Курсовая работа по предмету "Информационные системы и базы данных"</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <table>
                <tr>
                    <td>Имя</td>
                    <td>
                        <input v-model="personName" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Сторона</td>
                    <td>
                        <select v-model="sideName">
                            <option v-for="side in sides">{{side.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Раса</td>
                    <td>
                        <select v-model="raceName">
                            <option v-for="race in races">{{race.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Класс</td>
                    <td>
                        <select v-model="personClassName">
                            <option v-for="personClass in personClasses">{{personClass.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><a href="#" v-on:click="createPerson">Создать персонажа</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выйти"/>
                        </form>
                    </td>
                </tr>
            </table>
            <table id="history_table">
                <thead>
                    <tr>
                        <td>Список персонажей</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="person in persons">
                        <td><a href="#">{{person.name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script th:src="@{js/home.js}"></script>
    <table>
        <tr>
            <td>
                <form th:action="@{/main}" method="get">
                    <input type="submit" value="Войти за тестового персонажа"/>
                </form>
            </td>
        </tr>
    </table>
    </body>
</html>
